<div mat-dialog-content [class.light__theme]="!darkTheme">
  <mat-card fxLayout="row">
    <mat-form-field fxFlex>
      <input #loginInput (keyup.enter)="onConfirm()" matInput
             placeholder="{{messages.login.enterLogin}}" [(ngModel)]="login">
    </mat-form-field>
  </mat-card>

</div>
<div mat-dialog-actions fxLayout="row">
  <button fxFlex mat-button mat-raised-button (click)="onNoClick()">{{messages.common.cancel}}</button>
  <button fxFlex mat-button mat-raised-button (click)="onConfirm()">{{messages.common.confirm}}</button>
</div>
