<div [class.light__theme]="!darkTheme"
     fxLayout="column"
     fxLayoutAlign="center center"
     class="height-100">

  <div fxFlex="1 1 40%"
       fxFlexAlign="start">
    <button (click)="switchTheme()"
            mat-mini-fab=""
            matTooltip="{{messages.common.changeThemeTooltip}}">
      <mat-icon>invert_colors</mat-icon>
    </button>
  </div>

  <div fxFlex="2 2 60%"
       fxFlexAlign="center">
    <div fxLayout="column">
      <mat-form-field>
        <input #passwordInput matInput
               placeholder="{{messages.settings.newPassword}}" [type]="hide ? 'password' : 'text'" [(ngModel)]="passwords.new">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input #passwordInput (keyup.enter)="sendPasswords()" matInput
               placeholder="{{messages.settings.repeatNewPassword}}" [type]="hide ? 'password' : 'text'" [(ngModel)]="passwords.repeated">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div fxLayout="row">
        <button
          fxFlex
          fxFlexAlign="end"
          mat-stroked-button
          (click)="sendPasswords()"
          matTooltip="{{messages.settings.changePassword}}">
          <mat-icon>label_important</mat-icon>
        </button>
      </div>
    </div>

    <div fxFlex
         fxFlexAlign="end">
      <mat-form-field style="position: absolute; bottom: 0; right: 0">
        <mat-select placeholder="{{messages.common.languageWord}}">
          <mat-option *ngFor="let language of languagesShorts" (click)="changeLanguage(language)">{{language}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


</div>
