<div mat-dialog-content>
  <mat-card fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex="3 3 66%">
      <input matInput [(ngModel)]="emailMessage.addresses" placeholder="{{messages.emailing.addresses}}">
    </mat-form-field>
    <mat-form-field fxFlex="1 1 34%">
      <mat-select [(ngModel)]="selectedValue">
        <mat-option [value]="'users'">
          {{messages.emailing.users}}
        </mat-option>
        <mat-option [value]="'groups'">
          {{messages.emailing.groups}}
        </mat-option>
        <mat-option [value]="'departments'">
          {{messages.emailing.departments}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <mat-form-field>
      <input matInput [(ngModel)]="emailMessage.subject" placeholder="{{messages.emailing.subject}}">
    </mat-form-field>
  </mat-card>
  <mat-card>
    <mat-form-field>
      <textarea matInput [(ngModel)]="emailMessage.text" placeholder="{{messages.emailing.text}}"></textarea>
    </mat-form-field>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button mat-raised-button (click)="onNoClick()">{{messages.common.cancel}}</button>
  <button mat-button mat-raised-button (click)="onConfirm()">{{messages.emailing.send}}</button>
</div>
