<div [class.light__theme]="!darkTheme"
     fxLayout="column"
     fxLayoutAlign="center center"
     class="height-100">

  <div fxFlex="1 1 40%"
       fxFlexAlign="start">
    <button (click)="switchTheme()"
            mat-mini-fab=""
            matTooltip="{{messages.common.changeThemeTooltip}}">
      <mat-icon>invert_colors</mat-icon>
    </button>
  </div>

  <div fxFlex="2 2 60%"
       fxFlexAlign="center">
    <div fxLayout="column">
      <mat-form-field>
        <input #loginInput (keyup.enter)="sendCredentials(loginInput.value, passwordInput.value)" matInput
               placeholder="{{messages.login.enterLogin}}">
      </mat-form-field>

      <mat-form-field>
        <input #passwordInput (keyup.enter)="sendCredentials(loginInput.value, passwordInput.value)" matInput
               placeholder="{{messages.login.enterPassword}}" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div fxLayout="row">
        <button fxFlex
                fxFlexAlign="start"
                mat-stroked-button
                matTooltip="{{messages.login.forgotPasswordTooltip}}">
          <mat-icon>contact_support</mat-icon>
        </button>
        <button
          fxFlex
          fxFlexAlign="end"
          mat-stroked-button
          (click)="sendCredentials(loginInput.value, passwordInput.value)"
          matTooltip="{{messages.login.logInTooltip}}">
          <mat-icon>meeting_room</mat-icon>
        </button>
      </div>
        <p [class.white-font]="darkTheme" class="mat-body-1">{{errorMessage}}</p>
    </div>

    <div fxFlex
         fxFlexAlign="end">
      <mat-form-field style="position: absolute; bottom: 0; right: 0">
        <mat-select placeholder="{{messages.common.languageWord}}">
          <mat-option *ngFor="let language of languagesShorts" (click)="changeLanguage(language)">{{language}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


</div>
