<div fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="8px"
     class="height-100">
  <button
          mat-fab
          matTooltip="">
    <mat-icon>school</mat-icon>
  </button>
  <button
    mat-fab
    matTooltip="">
    <mat-icon>contacts</mat-icon>
  </button>
  <button
    mat-fab
    matTooltip="">
    <mat-icon>drafts</mat-icon>
  </button>

  <button
    mat-fab
    matTooltip="">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-fab
    matTooltip="">
    <mat-icon>settings</mat-icon>
  </button>

  <button
    mat-fab
    matTooltip="">
    <mat-icon>exit_to_app</mat-icon>
  </button>


</div>
