<div [class.light__theme]="!darkTheme"
     fxLayout="column"

     class="height-100">

  <div fxLayout="row">

    <div fxFlex class="mat-body-1" [class.white-font]="darkTheme">
      <p>{{user.name}}</p>
      <p>{{user.surname}}</p>
      <p>{{user.group ? user.group : user.departament}}</p>
    </div>
    <mat-form-field fxFlex [class.white-font]="darkTheme">
      <input matInput type="search">
      <mat-icon matSuffix>search</mat-icon>

    </mat-form-field>
    <div fxFlex></div>
  </div>
  <div
    fxLayout="row"
  fxLayoutAlign="start">

    <app-menu></app-menu>
    <div style="width: 400px"></div>
  </div>


</div>
