body{
  background-image: radial-gradient(circle, #a60505, #800117, #580a1b, #2f0d15, #210404,#000000);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}


