@import 'themes';
html, body{
  height: 100%
}

.height-100{
  height: 100%;
}

.white-font{
  color: white;
}

.black-font{
  color: black;
}

.error-color{
  color: red !important;
}

.success-color{
  color: green !important;
}

.background-color-dark {
  background-color: #424242 !important;
}

.background-color-light {
  background-color: white !important;
}
