@import '~@angular/material/theming';
@include mat-core();

$dark-primary: mat-palette($mat-gray, 900);
$dark-secondary: mat-palette($mat-red, 800);
$dark-theme: mat-dark-theme($dark-primary, $dark-secondary);
@include angular-material-theme($dark-theme);

$light-primary: mat-palette($mat-blue-gray);
$light-secondary: mat-palette($mat-blue);
$light-theme: mat-light-theme($light-primary, $light-secondary);


.light__theme{
  @include angular-material-theme($light-theme);
}
.backrgound-positioning{
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}


