<mat-card>


  <div fxLayout="row" fxLayoutGap="15px">
    <div fxFlex>
      <div fxLayout="row">
        <button fxFlex
                mat-raised-button
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          {{messages.calendar.previous}}
        </button>
        <button fxFlex
                mat-raised-button
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          {{messages.calendar.today}}
        </button>
        <button fxFlex
                mat-raised-button
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          {{messages.calendar.next}}
        </button>
        <div fxFlex></div>
      </div>
    </div>
    <div fxFlex>
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
    </div>
    <div fxFlex>
      <mat-button-toggle-group>
        <mat-button-toggle
          class="btn btn-primary"
          (click)="view = CalendarView.Month"
          [class.active]="view === CalendarView.Month">
          {{messages.calendar.month}}
        </mat-button-toggle>
        <mat-button-toggle
          class="btn btn-primary"
          (click)="view = CalendarView.Week"
          [class.active]="view === CalendarView.Week">
          {{messages.calendar.week}}
        </mat-button-toggle>
        <mat-button-toggle
          class="btn btn-primary"
          (click)="view = CalendarView.Day"
          [class.active]="view === CalendarView.Day">
          {{messages.calendar.day}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-card>
<mat-card>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      class="something"
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="weekStartsOn"
      [locale]="locale"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</mat-card>
<!--
<br><br><br>

<h3>
  Edit events
  <button
    class="btn btn-primary pull-right"
    (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>-->

<!--<table class="table table-bordered">

  <thead>
  <tr>
    <th>Title</th>
    <th>Primary color</th>
    <th>Secondary color</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Remove</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let event of events; let index = index">
    <td>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="event.title"
        (keyup)="refresh.next()">
    </td>
    <td>
      <input
        type="color"
        [(ngModel)]="event.color.primary"
        (change)="refresh.next()">
    </td>
    <td>
      <input
        type="color"
        [(ngModel)]="event.color.secondary"
        (change)="refresh.next()">
    </td>
    <td>
      <input
        class="form-control"
        type="text"
        mwlFlatpickr
        [(ngModel)]="event.start"
        (ngModelChange)="refresh.next()"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set">
    </td>
    <td>
      <input
        class="form-control"
        type="text"
        mwlFlatpickr
        [(ngModel)]="event.end"
        (ngModelChange)="refresh.next()"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set">
    </td>
    <td>
      <button
        class="btn btn-danger"
        (click)="events.splice(index, 1); refresh.next()">
        Delete
      </button>
    </td>
  </tr>
  </tbody>

</table>-->

